<!-- Preload critical fonts -->
<link rel="preload" href="./assets/fonts/Author/Author-Variable.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="./assets/fonts/Nunito/Nunito-Variable.woff2" as="font" type="font/woff2" crossorigin>

<!-- Global variables (sizing, typography) -->
<link rel="stylesheet" href="./assets/css/vars.css">
<!-- Base styles (layout, etc) -->
<link rel="stylesheet" href="./assets/css/base.css">
<!-- Component styles -->
<link rel="stylesheet" href="./assets/css/components/header.css">
<link rel="stylesheet" href="./assets/css/components/footer.css">
<!-- Theme styles (colors only) -->
<link rel="stylesheet" href="./assets/css/themes/light.css">
<link rel="stylesheet" href="./assets/css/themes/dark.css">
<link rel="stylesheet" href="./assets/css/themes/candy.css">
<!-- Fonts -->
<link rel="stylesheet" href="./assets/fonts/Author/font.css">
<link rel="stylesheet" href="./assets/fonts/Nunito/font.css">