<script>
    // Immediately set theme to prevent wrong theme flashing
    const savedTheme = localStorage.getItem('theme') || 'dark';
    document
        .documentElement
        .setAttribute('data-theme', savedTheme);
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B3K9X574XV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B3K9X574XV');
</script>

<script src="/assets/js/theme-toggle.js" defer></script>
<script src="/assets/js/lastfm-now-playing.js" defer></script>
<script src="/assets/js/turtl-movement.js" defer></script>
<script src="/assets/js/analytics.js" defer></script>