<script>
    // Immediately set theme to prevent wrong theme flashing
    const savedTheme = localStorage.getItem('theme') || 'dark';
    document
        .documentElement
        .setAttribute('data-theme', savedTheme);
</script>

<script defer src="https://umami.turtl.cc/script.js" data-website-id="ca964212-4615-4e7b-ad3b-33dee8e61501"></script>

<script src="/assets/js/theme-toggle.js" defer></script>
<script src="/assets/js/lastfm-now-playing.js" defer></script>
<script src="/assets/js/turtl-movement.js" defer></script>
<script src="/assets/js/analytics.js" defer></script>