<footer class="site-footer">
    <div class="buttons-banner">
        <img title="Gort" src="./assets/images/buttons/gort.gif">
        <img title="Barbed Wire" src="./assets/images/buttons/barbedwire.jpg">
    </div>

    <p>Congratulations! You scrolled more than 100% of users.</p>

    <div class="footer-links">
        <a href="/credits">credits</a>
        <a href="/terms">terms</a>
        <a href="/privacy">privacy</a>
    </div>
</footer>