<header class="site-header">
    <div class="header-top">
        <div class="social-links">
            <a href="https://ko-fi.com/megaturtl" target="_blank">
                                <img class="icon" src="/assets/icons/kofi.svg" alt="Support me on Kofi">
            </a>
            <a href="https://github.com/megaturtl" target="_blank">
                        <img class="icon" src="/assets/icons/github.svg" alt="GitHub">
            </a>
            <a href="https://open.spotify.com/user/kup8j9ni21a31qduw6jpejr9i?si=c566b611318b4886" target="_blank">
                <img class="icon" src="/assets/icons/spotify.svg" alt="Spotify">
            </a>

            <a href="https://www.last.fm/user/megaturtl" target="_blank">
                <img class="icon" src="/assets/icons/lastfm.png" alt="Last.fm">
            </a>
        </div>
        <div id="now-playing">
            <p>what i'm listening to:</p>
            <img id="album-cover">
            <div id="artist" class="tooltipped">
                <div id="artist-tooltip" class="tooltip">
                    <p>I've listened to this artist x times</p>
                </div>
            </div>
            <div id="separator"></div>
            <div id="track" class="tooltipped">
                <div id="track-tooltip" class="tooltip">
                    <p>I've listened to this song x times</p>
                </div>
            </div>
            <div id="date"></div>
        </div>
    </div>

    <div class="header-middle">
        <a href="/" class="site-title">turtl.<div id="cc-shell"><div style="margin-right: 0.25rem;"></div><div></div></div></a>

        <div id="visitor-counter" class="tooltipped">
            <div class="tooltip">
                <p>This might be lower than normal counters since I'm excluding bots :p</p>
            </div>
            <p>you are visitor:</p>
            <span id="visitor-number">
                <span>0</span>
                <span>0</span>
                <span>0</span>
                <span>0</span>
                <span>0</span>
            </span>
        </div>

        <div id="turtl-container">
            <img id="active-turtl" class="turtl" src="/assets/images/turtl-sleep.gif" alt="turtl">
        </div>
    </div>

    <div class="header-bottom">
        <nav class="main-nav">
            <ul class="nav-links">
                <li>
                    <a href="/about">about</a>
                </li>
                <li>
                    <a href="/blog">blog</a>
                </li>
                <li>
                    <a href="/projects">projects</a>
                </li>
                <li>
                    <a href="/music">music</a>
                </li>
                <li>
                    <a href="/media">media</a>
                </li>
            </ul>
        </nav>

        <button class="tooltipped" onclick="toggleTheme()" id="theme-toggle" aria-label="Toggle Theme">
            <div class="tooltip">
                <p>Change theme!</p>
            </div>
            <span id="theme-icon" aria-hidden="true">🌙</span>
        </button>
    </div>
</header>