@font-face {
    font-family: 'Avara_Bold';
    src:    url('/assets/fonts/Avara/Bold/Avara-Bold.woff2') format('woff2'),
            url('/assets/fonts/Avara/Bold/Avara-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Bold Italic';
    src:    url('/assets/fonts/Avara/BoldItalic/Avara-BoldItalic.woff2') format('woff2'),
            url('/assets/fonts/Avara/BoldItalic/Avara-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avara_Black';
    src:    url('/assets/fonts/Avara/Black/Avara-Black.woff2') format('woff2'),
            url('/assets/fonts/Avara/Black/Avara-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
