.site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--container-padding);
    gap: var(--space-sm);
}

.site-footer p {
    font-size: var(--text-size-regular);

    color: var(--color-text-inverted);
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: var(--space-md);
}

.footer-links a {
    font-size: var(--text-size-regular);
    font-family: var(--font-code);
    color: var(--color-neutral-3);
}

.buttons-banner {
    display: flex;
    flex-direction: row;
    gap: var(--space-lg);
    height: 56px;
}

#streamers {
    background-image: var(--img-streamers);
    background-size: auto 100%;
    image-rendering: pixelated;
    background-position: center;
    background-repeat: repeat-x;
    width: 100%;
    height: 1.5rem;
}