.sidebar {
    width: 15rem;
    padding: var(--container-padding);
    background-color: var(--color-neutral-main);
    border-width: 0.25rem;
    border-style: solid;
    border-image: linear-gradient(315deg, var(--color-blue), var(--color-red)) 1;
}

.sites {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.site-buttons img {
    transition: transform 0.3s ease;
    margin: 0 var(--space-xs);
}

.site-buttons img:hover {
    transform: scale(1.1);
}