---
title: Page Not Found
permalink: not_found.html
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{ title }}</title>

	</head>
	<body>
		<p>
			Back to <a href="/">home</a>
		</p>
	</body>
</html>