---
title: about me
description: Nice to meet you :D
pageCSS: about
permalink: about/
---

<p>Hi! I'm a chronically online Australian who loves tinkering on the internet!</p>
<img src="/assets/images/fomantis.gif" alt="fomanti s <3" style="width: 100px">