---
title: Credits
description: Couldn't have done it without these people!
pageCSS: credits
permalink: credits/
---

<ul>
    <li>Font: <a href="https://www.fontshare.com/fonts/author">Author</a> by Indian Type Foundry</li>
    <li>Font: <a href="https://www.fontshare.com/fonts/nunito">Nunito</a> by Indian Type Foundry</li>
    <li>Lastfm widget: Adapted from <a href="https://github.com/vojislav/lastfm-now-playing">lastfm-now-playing</a> by vojislav</li>
    <li>Turtle icon: Commissioned from chromaticadev, animated by me :3</li>
</ul>