---
layout: base.njk
title: Credits
description: Check these creators out!
pageCSS: credits
permalink: /credits
---

<ul>
    <li>Font: <a href="https://www.fontshare.com/fonts/author">Author</a> by Indian Type Foundry</li>
    <li>Lastfm widget: <a href="https://github.com/vojislav/lastfm-now-playing">lastfm-now-playing</a> by vojislav</li>
</ul>