---
layout: base.njk
title: Credits
description: Check these creators out!
pageCSS: credits
permalink: /credits
---

<h1>Credits</h1>
<ul>
    <li>
        Font: <a href="https://www.velvetyne.fr/fonts/avara/">Avara</a> by Raphaël Bastide, with the contribution of Wei Huang, Lucas Le Bihan, Walid Bouchouchi, Jérémy Landes. Distributed by velvetyne.fr.
    </li>
</ul>