---
title: welcome!
description: Ello there
pageCSS: home
permalink: /
---

<p>Welcome to my site. As you can see there isn't much here yet, but if anyone sees this I love you for being here!!! Thank you for visiting and watch this space :)</p>
<p>For the time being, please check out the amazing sites on the left side of the page!</p>
<img src="/assets/images/astronaute-02.gif" alt="astronaute does a flip!" style="width: 100px">
<p>Mobile version coming soon 😭</p>
