---
title: music i find neat
description: I love songs
pageCSS: music
permalink: music/
---

<p>coming soooooon. Check out my last.fm in the meantime :D</p>

<a href="https://www.last.fm/user/megaturtl" target="_blank"><img src="https://lastfm-recently-played.vercel.app/api?user=megaturtl&header_size=compact_stats&bg_color=000000" height="auto" width="300"></a>
