---
title: have some photo :3
description: check it yo
pageCSS: photos
permalink: photos/
---

<p>i am gonna put cool galleries here i prommy</p>
<img src="/assets/images/live-music/frost-children.jpg" alt="Frost Children live at Oxford Art Factory">
<img src="/assets/images/live-music/nina/nina.jpg" alt="Ninajirachi live at Mannning Bar">