---
title: privacy policy
description: Very serious stuff
permalink: privacy/
---

<p>I use an open source analytics platform called Umami to track my site statistics like page views.</p>

<p>The data is not identifiable, uses no cross site cookies, and is never shared with anyone!</p>

<p>I am just a HUGE data nerd and love seeing statistics. Lord help me.</p>

<p>If you still really hate this (I don't blame you) try downloading a blocker like <a href="https://ublockorigin.com/">uBlock Origin</a> which will block trackers and ads on all websites you visit.</p>