---
title: Privacy Policy
description: Very serious stuff
pageCSS: privacy
permalink: privacy/
---

<p>FULL DISCLOSURE:</p>

<p>I use Google Analytics to track my site statistics like traffic and page views.</p>

<p>No data is identifiable! And I do not share it with anyone.</p>

<p>I am just a HUGE data nerd and love seeing statistics. Lord help me.</p>