---
title: stuff i've made
description: Stuff I've made
permalink: projects/
---

<p>i do stuff. call me the stuffer</p>

<div class="related-content-group">
    <h4><a href="https://modrinth.com/mod/chiselmon">Chiselmon</a></h4>
    <p>A feature rich quality of life mod for Cobblemon.</p>
    <a href="https://modrinth.com/mod/chiselmon"><img src="/assets/images/projects/chiselmon/pc_screen.png" alt="Cobblemon PC screen with Chiselmon installed"></a>
</div>

