---
title: terms & conditions
description: Very serious stuff
permalink: terms/
---

<p>By browsing this site, you agree to the following STRINGENT RULES:</p>

<ul>
    <li>You are not a nasty bigot.</li>
</ul>

<p>If you do not agree to these terms, GO AWAY! RAHHH</p>