---
title: Terms & Conditions
description: Very serious stuff
pageCSS: terms
permalink: terms/
---

<p>Very serious stuff!</p>

<p>You agree to the following:</p>

<ul>
    <li>You will enjoy your time on this site.</li>
    <li>You are not a nasty bigot.</li>
</ul>

<p>If you do not agree to these terms, GO AWAY! RAHHH</p>
