.site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--container-padding);
    gap: var(--space-sm);
}

.site-footer p {
    font-size: var(--text-size-regular);

    color: var(--color-text);
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: var(--space-md);
}

.footer-links a {
    font-size: var(--text-size-regular);
    font-family: var(--font-code);
    color: var(--color-neutral-3);
}

.buttons-banner {
    display: flex;
    flex-direction: row;
    gap: var(--space-lg);
    height: 56px;
}
